.team-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .team-image {

    margin-right: 10px;
    //border-radius: 50%;
    overflow: hidden;
 
.team-summary .team-meta:hover h2 {
  color: $primary;
}
.team-meta {
  position: relative;
  display: inline-block;
}
}
  .team-meta {
    flex: 1;
    display: block;
    text-align: left;
    padding-left: 20px;
  @include media-breakpoint-down(sm) {
    flex: 1 1 auto;
padding-left: 0;
padding-top: 30px;
}
    h2 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    color: #5e5d5d;
     @include media-breakpoint-down(sm) {
     font-size: 16px;
     }
    }
    p {
      color: $black;
      //text-transform: uppercase;
      margin: 0 0 10px;
      font-size: 18px;
      font-weight: 500;
        @include media-breakpoint-down(sm) {
        font-size: 14px;
        }
    }
  }
  .team-content {
    margin-top: 20px;
    flex: 1 0 100%;
  }
}

.team-summary-large {
  background-color: #FFF;
  padding: 30px 0 0;

  .team-image {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    overflow: hidden;
  }
 .team-image img {
 max-width: 100%;
 -webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
transition: all .3s ease-out;
}
.team-image:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
}

.team-content .col-12 {
    text-align: center;
}
.team-content .col-12 h3 {
 @include media-breakpoint-down(sm){
    font-size: 18px;
}
}
.social li {
    list-style: none;
    text-align: center;
    margin: 20px auto 0;
}

ul.social li {
    display: inline-block;
    color: #F2C64D;
    background: #FEF7E7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 5.5px;
    text-align: center;
}
.team-summary .team-meta a:hover {
    text-decoration: none;
}