---
title: Law and Lawyer
layout: default
bodyClass: page-home
date: 2020-04-14T17:20:00Z

---
      
          
<div class="flexslider">
  <ul class="slides">
    <li>
     <img src="{{ site.baseurl }}assets/images/slide-1.jpg" alt="slider1">
    </li>
  </ul>
</div>

<div class="about-section">
        <div class="container">
          <div class="row align-items-center">
                    <div class="col-md-6">
                    <div class="about-text wow fadeInLeft" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInLeft;">
                         <h3 class="about-heading">Who We Are</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, explicabo iste a labore id est quas, doloremque veritatis! Provident odit pariatur dolorem quisquam, voluptatibus voluptates optio accusamus, vel quasi quidem!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, explicabo iste a labore id est quas, doloremque veritatis! Provident odit pariatur dolorem quisquam</p>
                        <div class="about-signature">
                            <img src="assets/images/signature.png" alt="">
                            <p>Mr. John Doe</p>
                        </div>
                         <p><a href="about/" class="btn btn-primary">Know More</a></p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="about-img">
                       <img src="{{site.baseurl}}assets/images/about1.jpg" alt="aboutimage1" class="img-fluid">
                    </div>
                </div>
          
          </div>
        </div>
      </div>

  <div class="service-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="service-section text-center mb-60 wow fadeIn" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeIn;">
                        <h3>Areas Of Service</h3>
                    </div>
                </div>
            </div>
                   {% for service in site.data.services %}
                    <div class="col-md-4">
                     <div class="single-service wow fadeIn" data-wow-delay=".75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeIn;">
                        <a  href="services/">
                        <div class="service_image">
                            <img  src="{{site.baseurl}}{{ service.image }}" alt="service-image">
                        </div>
                        <div class="service_hover text-center">
                            <div class="hover_inner">
                                <h2 class="service-title">{{ service.title }}</h2>
                                <div class="service-content">{{ service.description }}</div>  
                                <a href="#" class="read_more">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                      </a>
                      </div>
                  </div>
              {% endfor %}

                <div class="col-md-12">
                    <div class="view-all-service-btn wow fadeIn" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeIn;">
                        <a href="services/" class="btn-style-a">View more services</a>
                    </div>
                </div>
    </div>
</div>




<div class="team-block">
        <div class="container">
                <div class="row">
                        <div class="col-md-12">
                            <div class="team-section wow fadeIn" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeIn;">
                                <h3>Meet Our Attorneys</h3>
                            </div>
                        </div>
                    </div>
                <div class="row">
                   {% for team in site.data.teams %}
                    <div class="col-md-4">
                      <div class="attorney-wrapper wow fadeIn" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeIn;">

                      <div class="single_lawyers text-center">
                        <div class="team_box_image">
                          <img class="team-image" src="{{site.baseurl}}{{ team.image }}" alt="team-image">
                         </div>
                         
                  <div class="team_box_text">
                   <a  href="team/"> 
                    <div class="title-combo"> 
                    <h2 class="team-title">{{ team.title }}</h2>
                    </div></a>
                  </div>
                </div>
            </div>
        </div>
              {% endfor %}  
    </div>
  </div>
</div>


