<div class="call">
  <div class="call-box-top">
  {% for location in site.data.contact.locations %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
   {% if thecycle == 'odd' %}
    <div class="col-md-6 pb-1 pt-1"> 
    <h2>{{location.title}}</h2>
    <i class="fa fa-home"></i><div class="call-address">{{location.address_line1}}</div><br/><div class="call-address1">{{location.address_line2}}</div>
    <i class="fa fa-phone"></i><div class="call-phone"> {{location.phone}}</div>
    </div><div class="col-md-6 map-address">{{location.map-location}}</div>
  
  {% else %}

    <div class="col-md-6 pb-1 pt-1" style=" float: right;"> 
    <h2>{{location.title}}</h2>
    <i class="fa fa-home"></i><div class="call-address">{{location.address_line1}}</div><br/><div class="call-address1">{{location.address_line2}}</div>
    <i class="fa fa-phone"></i><div class="call-phone"> {{location.phone}}</div>
    </div><div class="col-md-6 map-address" style="padding-top: 0;padding-bottom: 20px;">{{location.map-location}}</div>
  
 {% endif %}
{% endfor %}
</div>
  {% if site.data.contact.email %}
  <div class="call-email"><strong>Email: </strong>
    <a href="mailto:{{ .site.Data.contact.email }}">
      {{ site.data.contact.email }}
    </a>
  </div>
  {% endif %}



</div>


    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}

  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Contact</a>
      </div>
    {% endif %}
</div>



