<footer class="footer-area bg-1">
                <div class="footer-area-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-4">
                                <div class="footer-left">
                                    <div class="footer-widget widget">
                                        <div class="about-widget">
                                            <a href="index.html" class="footer-logo"> 
                                                <img src="/images/footer-logo.png" alt="footer logo">
                                            </a>
                                            <p class="width-350">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor unt ut labore et dolore magna aliqua. Ut enim.</p>
                                            <div class="social-share mt-25">
                                                <a href="#" class="social-link"><i class="flaticon-facebook-logo"></i></a>
                                                <a href="#" class="social-link"><i class="flaticon-twitter"></i></a>
                                                <a href="#" class="social-link"><i class="flaticon-linkedin-letters"></i></a>
                                                <a href="#" class="social-link"><i class="flaticon-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8">
                                <div class="footer-right bg-2 bg-right">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                                            <div class="footer-widget widget widget_nav_menu">
                                                <h4 class="widget-title">Quick Links</h4>
                                             {% assign footermenu = site.data.footermenu.footer | sort: 'weight'  %}
												    {% for item in footermenu %}
												    <div class="footer-links {% if item.url == page.url %}active{% endif %}">
												      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
												    </div>
												    {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                                            <div class="footer-widget widget widget_nav_menu">
                                                <h4 class="widget-title">Practice Area</h4>
                                                {% assign sorted_services = site.services | sort: "weight" %}
											      {% for service in sorted_services limit: 6 %}
											              <a class="list-group-item list-group-item-action 
											                  {% if service.url == page.url %}active{% endif %}" 
											                  href="{{site.baseurl}}{{ service.url }}">{{ service.title }}
											              </a>
											      {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="footer-widget widget">
                                                <h4 class="widget-title">Get In Touch</h4>
                                                <div class="footer-content">
                                                    <i class="fa fa-home"></i><p class="width-220">3952  Rose Avenue, Central Wing, New Delhi, India 190071</p>
                                                    <i class="fa fa-envelope"></i><p class="para">law@support.com</p>
                                                    <i class="fa fa-phone"></i><p class="para">202-555-0115</p>
                                           
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                           

                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </footer>