.map.col-12.col-md-6 {
    width: 50%;
    position: relative;
    float: right;
    max-width: 50%;
    flex: 0 0 50%;

    @include media-breakpoint-down(xs) {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    }
}
.call {
    position: relative;
    float: left;
    width: 100%;
  @include media-breakpoint-down(xs) {
    width: 100%;
    padding: 20px 15px 0;
  }
	.pb-1.pt-1 {
    display: inline-block;
    margin: 0px 0px 20px 0px;
    padding: 30px 40px 0 30px;
    background: #eeecec;
    height: 250px;
    text-align: center;
    vertical-align: middle;
    float: none;
    @include media-breakpoint-down(md) {
     margin: 0px 0px 20px 0px;
     }
     @include media-breakpoint-down(sm) {
     margin: 17px 0 20px 0px;
     }
    @include media-breakpoint-down(xs) {
     margin: 30px 0 30px 0px;
     width: 100%;
     }
   h2 {
   @include media-breakpoint-down(md){
    margin-top: 10px;
    }
}
}
i.fa.fa-phone {
    color: $primary;
}
.map-address{
  display: inline-block;
padding-bottom:  40px;
   vertical-align: middle;
       float: none;
    padding-top: 20px;
    @include media-breakpoint-down(xs) {
     width: 100%;padding: 0;
     }
}
.call-address {
    display: inline-block;
    padding-left: 20px;
}
.call-address1 {
    padding-left: 30px;
}
.call-phone {
    display: inline-block;
    padding-left: 20px;
    margin: 10px 0 0;
}
}

.call .pb-1.pt-1 i.fa.fa-home {
    font-size: 36px;
    text-align: center;
    margin: 0 auto 20px;
    width: 100%;
    color: $primary;
}

.map iframe {
    height: 248px;    
}
.call-box-top {
    margin-top: 50px;
    @include media-breakpoint-down(xs) {
    margin-top: 0px;
     }
}

