.page-services-single {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
  }
}


.service.service-summary {
    position: relative;
    box-shadow: 1px 0px 6.44px 0.56px rgba(232, 235, 234, 0.39);
    padding: 25px;
    transition: .5s ease;
    max-width: 350px;
    width: 100%;
    margin: 15px auto;
    text-align: center;
    h2.service-title {
    color: #272b2e;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 36px;
    margin-bottom: 10px;
    font-weight: 500;
       @include media-breakpoint-down(md) {
      margin-bottom: 0px;
      font-size: 18px;
      }
     a {
    color: #272b2e;
}
}
}
.service-image {
    position: relative;
    text-align: center;
    margin-bottom: 10px;

img.img-fluid.mb-2 {
    max-width: 100%;
    height: 65px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
}
#all-services {
    text-align: center;
    position: relative;
    float: left;
    width: 100%;
.service li .service-title a {
    border: 1px solid #dbdbdb;
    padding: 20px;
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    color: #4b4b4b;


}
    .service li .service-title a:hover {
    background: $primary;
    color: #fff;
    text-decoration: none;
}
}
.service-title-main {
    font-size: 24px;
    letter-spacing: 0px;
    color: #272b2e;
    line-height: 30px;
    margin-bottom: 15px;
    margin-left: 20px;
    font-weight: 600;
       @include media-breakpoint-down(md) {
        font-size: 15px;
        margin-bottom: 15px;
        margin-left: 15px;
      }
}
#sidebar-wrapper {
    position: relative;
    background-color: #f7f7f7;
    padding: 20px 0px 0px;

       @include media-breakpoint-down(md) {
   padding: 15px 0px 0px;
      }

 .list-group-item.list-group-item-action {
    position: relative;
    border: 1px solid #e1e1e1;
    border-right: none;
    border-left: none;
    padding: 15px;
    background: #f7f7f7;
    color: #000;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 25px;
    display: block;
    font-weight: 500;
    border-radius: 0;
     @include media-breakpoint-down(md) {
        font-size: 16px;
        padding: 15px;
     }
}
#sidebar-wrapper .list-group-item.active,#sidebar-wrapper .list-group-item.active:focus, #sidebar-wrapper .list-group-item.active:hover {
    z-index: 2;
    color: #000;
    background-color: transparent;
}
}
.service-single-one img.img-fluid.serv-image {
    max-width: 100%;
    height: auto;
}
.service.service-single {
    margin: 30px 0 0;
}
.service-single-one {
    margin-top: 40px;
}
.service_hover .service-content h2 {
    font-size: 14px;
    line-height: 20px;
}
h2.service-title{
    color: #272b2e;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 36px;
    margin-bottom: 10px;
    font-weight: 500;

}

.service-content {
    color: #878a95;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: 400;
    margin: 10px auto 20px;
      @include media-breakpoint-down(md) {
      margin: 0 auto 10px;
      }
}
a.read_more {
font-size: 14px;
    letter-spacing: 0px;
    color: $primary;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    line-height: 22px;
    opacity: 0;
}

.service.service-summary:hover .hover_inner a {
    opacity: 1;
}
.service.service-summary:hover .service_image img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.serv-image-one {
    background: #db883a url(/images/service-one.jpg);
    position: relative;
    float: left;
    width: 100%;
    z-index: 9;
    align-items: center;
    text-align: center;
    height: 400px; 
    background-size: cover;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 30px;
}
#sidebar-wrapper .list-group-item.list-group-item-action.active {
    background: $primary;
    color: #fff;
}
.service_hover a:hover {
    text-decoration: none;
}
#sidebar-wrapper .list-group-item.list-group-item-action:last-child {
    border-bottom: 0;
}