.about {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    float: none;
    }
.about-section {
    position: relative;
    padding: 120px 0 60px;
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    @include media-breakpoint-down(md){
      padding: 70px 0 60px;
    }
  @include media-breakpoint-up(sm) {
  padding: 70px 0 10px;
  }
    @include media-breakpoint-down(xs){
    padding: 0 0 20px;
    }
 img {
    max-width: 100%;
    height: auto;
    } 

.about-text{
    position: relative;

    h3.about-heading {
    letter-spacing: 0px;
    margin-bottom: 30px;
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
    color: #1F1F1F;
      @include media-breakpoint-down(xs){
      font-size: 32px;
      margin-bottom: 10px;
      }
    }
    p{
    font-size: 16px;
    line-height: 24px;
    color: #878a95;
    font-weight: 400;
    }
}



.about-img:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.about-text:before {
    position: absolute;
    content: '';
    height: calc(100% + 150px);
    width: 200%;
    background-color: #f9f5f0;
    z-index: -1;
    left: -50%;
    top: -50px;

     @include media-breakpoint-down(md){
     left: -46%;
}
}
.about-signature {
    position: relative;
    margin: 50px auto;
      @include media-breakpoint-down(md){
      margin: 20px auto;
      }
    p{
    font-size: 14px;
    letter-spacing: 0px;
    color: #bc9265;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 5px auto;
    }
}
a.btn.btn-primary {
    font-size: 16px;
    letter-spacing: 0px;
    color: #fff;
    background-color: #db883a;
    padding: 10px 20px;
    line-height: 24px;
    display: inline-block;
    border-color: #db883a;
    border-radius: 0;
}
}
.about img.img-fluid.mh-50 {
    max-width: 100%;
}

.about-section a.btn.btn-primary:hover {
    background-color: #8a5631;
    border-color: #8a5631;
}