.team-block {
    float: left;
    width: 100%;
    position: relative;
    padding-bottom: 0px;
    padding-top: 40px;
    @include media-breakpoint-down(sm) {
    padding-top: 20px;
    }

     .single_lawyers {
    padding-bottom: 30px;

    .team_box_image img.team-image {
    max-width: 100%;
    height: auto;
    margin: auto;


}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: #1F1F1F;
    margin-top: 26px;
    margin-bottom: 6px;

}
span {
    font-size: 16px;
    color: #727272;
    display: block;
    margin-bottom: 18px;
}
.social_links ul li {
    display: inline-block;
}
a:hover {
text-decoration: none;
}

}
}
.team-section h3 {
    padding-bottom: 30px;
    font-size: 40px;
    letter-spacing: 0px;
    color: #272b2e;
    line-height: 50px;
    font-weight: 600;
    display: inline-block;
    position: relative;
          @include media-breakpoint-down(sm){
          font-size: 36px;
          line-height: 36px;
          }
          @include media-breakpoint-down(sm){
          font-size: 30px;
          }
}
.team-section {
    text-align: center;
}
.social_links ul {
    padding: 0;
}

.team-block .title-combo h2 {
    @include media-breakpoint-down(xs){
    font-size: 26px;
}
}

.team_box_text {
position: relative;
    top: -35px;
    left: 20px;
    background-color: #fff;
    width: calc(100% - 40px);
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 13px 35px -12px rgba(35, 35, 35, 0.15);
    -moz-box-shadow: 0px 13px 35px -12px rgba(35, 35, 35, 0.15);
    box-shadow: 0px 13px 35px -12px rgba(35, 35, 35, 0.15);
}
.team_box_text:hover h2.team-title {
    color: $primary;
}
.team_box_text h2.team-title {
    margin: 0;
    color: #272b2e;
    font-size: 28px;

     @include media-breakpoint-down(md){
     font-size: 16px;
     }
}

.team-section h3:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 70px;
    background-color: $primary;
    bottom: 25px;
    left: calc(50% - 35px);
}