.footer-main
{   
  padding-top: 40px;
  padding-bottom: 30px;
  position: relative;
  display: block;
  width: 100%;
  background: #223034;
  opacity: 0.8;
    @include media-breakpoint-down(sm){
      padding-top: 30px;
  }
}
.form-controlsub {
    padding: 0px 10px;
    border-radius: 0;
    background: #ffffff;
    border: 0;
    height: 40px;
    display: block;
    width: 100%;
}
.footer-area-inner {
    position: relative;
}

.footer-left, .footer-right {
    padding: 40px 0 50px;
}
.footer-area-inner:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.footer-content p {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 93%;
    padding-left: 15px;
    padding-top: 10px;
    @include media-breakpoint-down(sm){
    width: 95%;
    }
}
.footer-content i.fa {
    font-size: 15px;
    vertical-align: middle;
    color: #fff;
}
.footer-widget {
    position: relative;
    z-index: 99;
}
.about-widget p {
    color: #2a2a2a;
    line-height: 26px;
    margin-top: 25px;
}
.width-350 {
    max-width: 350px;
}

.bg-1, .bg-2 {
    background-color: #fff6f1;
}
.footer-right {
    position: relative;
    padding-left: 92px;
    @include media-breakpoint-down(xs){
    padding-left: 20px;
    }
}
 .footer-right.bg-2.bg-right:before {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: -30%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer-right.bg-2.bg-right:before {
    right: -25%;
    left: auto;

    @include media-breakpoint-down(md){
    right: -33.6%;
    }
}
.footer-area .footer-right.bg-2.bg-right:before {
    z-index: 0;
}

.footer-right.bg-2.bg-right {
    background: $primary;
}
.widget.footer-widget .widget-title {
    color: #fff;
    margin: 20px 0 20px;
    font-size: 20px;
    font-weight: 600;
}
footer.footer-area.bg-1 {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.footer-widget a.list-group-item.list-group-item-action {
    background: transparent;
    border: 0;
    color: #fff;
    padding: 5px 0;
    font-size: 15px;
}
.footer-links.active {
    color: #000;
}
.footer-links {
    padding: 5px 0;

    a{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    }
}
.footer-links a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-area-inner .col-lg-9.col-md-8 {
 @include media-breakpoint-down(sm){
    padding: 0;
    }
}