.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 18px 0 20px;
    z-index: 9999;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-social {
    height: inherit;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background: #223034;
  animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -webkit-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -moz-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -o-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
}