.logo {
  width: 50%;

  @include media-breakpoint-down(sm) {
    display: block;
    width: 100%;
  }
  @include media-breakpoint-down(xs) {
    display: none;
    width: 100%;
  }
  img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.logo-mobile {
  display: block;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  img {
    width: 100%;
    height: auto;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
