.service-block {
    background: #FFFDF8;
    padding-top: 20px;
    position: relative;
    float: left;
    width: 100%;
@include media-breakpoint-down(sm){
    padding-top: 0;
}
.single-service {
    position: relative;
    box-shadow: 1px 0px 6.44px 0.56px rgba(232, 235, 234, 0.39);
    padding: 25px;
    transition: .5s ease;
    max-width: 350px;
    width: 100%;
    margin: 15px auto;
    text-align: center;
    @include media-breakpoint-down(md){
    padding: 15px;
    }

    .service_image{
    position: relative;
    text-align: center;
    margin-bottom: 10px;

 img {
    height: 65px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

}
}


h2.service-title{
    color: #272b2e;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 36px;
    margin-bottom: 10px;
    font-weight: 500;

     @include media-breakpoint-down(md){
     font-size: 18px;
     margin-bottom: 0;
     }
}

.service-content {
    color: #878a95;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: 400;
    margin: 10px auto 20px;


     @include media-breakpoint-down(md){
     font-size: 13px;
     margin: 0 auto 10px;
     }
}
a.read_more {
font-size: 14px;
    letter-spacing: 0px;
    color: $primary;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    line-height: 22px;
    opacity: 0;
         @include media-breakpoint-down(md){
         font-size: 13px;
         }
}

}
}
.single-service:hover .hover_inner a {
    opacity: 1;
}
.single-service:hover .service_image img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.view-all-service-btn {
    text-align: center;

a.btn-style-a:hover {
    background-color: $secondary;
    text-decoration: none;
}
a.btn-style-a {
    font-size: 16px;
    letter-spacing: 0px;
    color: #fff;
    background-color: $primary;
    padding: 10px 20px;
    line-height: 24px;
    display: inline-block;
}
}
#all-services ul {
    list-style-type: none;
    padding:0;
}

.page-contact .col-12 {
    padding: 0;
}


.service-section h3 {
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
    color: #272b2e;
    padding-bottom: 30px;
    @include media-breakpoint-down(sm){
    font-size: 36px;
    }
    @include media-breakpoint-down(sm){
    font-size: 30px;
    padding-bottom: 0px;
    }
}

.team.col-4.mb-2 {
 @include media-breakpoint-down(md){
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}

.service-section h3:after{
    position: absolute;
    content: '';
    height: 3px;
    width: 70px;
    background-color: $primary;
    bottom: 25px;
    left: calc(50% - 35px);
    @include media-breakpoint-down(sm) {
    bottom: 5px;
    }
}
.service-block .col-md-4 {
@include media-breakpoint-down(md) {
    float: left;
}
}