.sub-footer-strip {
  background: #fff6f1;
  padding-top: 10px;
  padding-bottom: 0;
  position: relative;
  float: left;
  width: 100%;
.copyright {
    float: left;
    width: 50%;
    text-align: left;
     @include media-breakpoint-down(sm){
    width: 100%;
    margin-bottom: 10px;
    }
}
.powered-by {
    float: right;
    text-align: right;
    width: 50%;
    @include media-breakpoint-down(sm){
      float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    }
}
  
}
.sub-footer {
  display: inline-block;
  justify-content: space-between;
    width: 100%;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: block;
      font-size: 12px;
      color: #333;

      a {
        color: #333;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        display: inline-block;
        height: 40px;
        padding: 10px 0px 10px 8px;
        font-weight: bold;
        color: #fff;
      }
    }
    @include media-breakpoint-up(sm) {
      li {
        display: inline-block;
        margin-left: 10px;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }

}
