---
layout: default
bodyClass: page-about
---
<div class="intro">
  {% if page.intro_image %}
  <div class="">
    <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
  </div>
  {% endif %}
  <div class="container">

    <div class="row justify-content-start">
      <div class="col-12">
        <h1>
          {{ page.title }}
        </h1>
      </div>

    </div>
  </div>
</div>

<div class="about container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12">
            <div class="service service-single">
                <div class="row justify-content-start">
                        <div class="col-12 col-md-6 d-md-block"> 
                        <img class="img-fluid mh-50" alt="Lawyer" src="/images/about/about.jpg">
                    </div>
                    <div class="col-12 col-md-6 d-flex">
                        <div class="content">{{content}}</div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>