<!DOCTYPE html>
<html lang="en">
<head>


  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
  <link rel="canonical" href="{{ page.url | prepend: site.url }}">
  <link rel="icon" href="{{site.baseurl}}images/favicon.png">
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/fontawesome.css' | relative_url }}" rel="stylesheet">
   <link href="{{ '/assets/css/animate.css' | relative_url }}" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ '/assets/css/flexslider.css' | relative_url }}" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <link href="{{ '/assets/css/owl.carousel.css'  | relative_url }}" rel="stylesheet">

     {% if page.description %}
     <meta name="description" content="{{ page.description }}" />
     {% endif %}
     <meta property="og:title" content="{{ site.seo.meta_og_title }}" />
     <meta property="og:type" content="{{ site.seo.meta_og_type }}" />
     <meta property="og:url" content="{{ site.seo.meta_og_url }}" />
     <meta property="og:image" content="{{ site.seo.meta_og_image }}" />
     <meta property="og:description" content="{{ site.seo.meta_og_description }}" />
     <meta name="twitter:card" content="{{ site.seo.meta_twitter_card }}" />
     <meta name="twitter:site" content="{{ site.seo.meta_twitter_site }}" />
     <meta name="twitter:creator" content="{{ site.seo.meta_twitter_creator }}" />
  <!-- Flexslider Scripts=================================================-->
  
  <script src="{{ '/assets/js/flexslider/jquery.min.js'  | relative_url }}"></script>
  <script src="{{ '/assets/js/flexslider/jquery.flexslider-min.js'  | relative_url }}"></script>
  <script src="{{ '/assets/js/app.js' | relative_url }}"></script> 
 <script src="{{ '/assets/js/owl.carousel.min.js'  | relative_url }}"></script>
 <script src="{{ '/assets/js/bootstrap/bootstrap.min.js'  | relative_url }}"></script>
 
 <!-- <style>
   body{
     text-decoration: none !important;
   }
 </style> -->
</head>
<body class='page {{page.bodyClass}}'>
  {% include main-menu-mobile.html %}
  <div id="wrapper" class="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
  </div>
  {% include footer.html %}
  {% include sub-footer.html %}
  <script type="text/javascript" src="{{ '/assets/js/scripts.js'  | relative_url }}"></script>
  {% include google-analytics.html %}
</body>
</html>

