---
layout: default
bodyClass: page-services-list
---

<div class="intro">
  {% if page.intro_image %}
  <div class="">
    <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
  </div>
  {% endif %}
  <div class="container">

    <div class="row justify-content-start">
      <div class="col-12">
        <h1>
          {{ page.title }}
        </h1>
      </div>

    </div>
  </div>
</div>
  <div class="services strip d-md-block">
    <div class="container pt-4 pb-6 pb-md-10">
      <div class="row justify-content-start">
        {% assign sorted_services = site.services | sort: "weight" %}
        {% for service in sorted_services limit:12 %}
        <div class="col-12 col-md-4 mb-1">
          <div class="service service-summary">
            <a  href="{{site.baseurl}}{{ service.url }}">
            <div class="service-image">
                <img alt="{{ service.title }}" class="img-fluid mb-2" src="{{ service.image | relative_url }}" /> </div>
              <div class="service_hover text-center">
                <div class="hover_inner">
                  
                <h2 class="service-title ">
                  {{ service.title }}</h2>
                  <div class="service-content">{{content}}</div>
                  <a href="{{site.baseurl}}{{ service.url }}" class="read_more">Read More<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                  </a>
             </div>
              </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
