---
layout: default
bodyClass: page-services-single

---
<div class="intro">
  {% if page.intro_image %}
  <div class="">
    <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
  </div>
  {% endif %}
  <div class="container">

    <div class="row justify-content-start">
      <div class="col-12">
        <h1>
          {{ page.title }}
        </h1>
      </div>

    </div>
  </div>
</div>
<div class="one-service d-flex">
<div class="container">
<div class="service-single-one">
  <!-- /#sidebar-wrapper -->
      <div class="intro1">
        {% if page.intro_image %}
        <div class="">
          <img alt={{ content }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
        </div>
        {% endif %}
      </div>
<div class="container pb-6 pt-1">
  <div class="row justify-content-start">
    <div class="col-md-9">
      <div class="serv-image-one"></div>
      <div class="service service-single animate__animated animate__fadeIn">
        <div class="content">{{content}}</div>

      </div>
     
    </div>
     <div class="col-md-3">
      <div class="d-none d-md-block" id="sidebar-wrapper">
        <div class="service-title-main">Our Service Areas</div>
        <div class="list-group list-group-flush">
          {% assign sorted_services = site.services | sort: "weight" %}
          {% for service in sorted_services %}
                  <a class="list-group-item list-group-item-action 
                      {% if service.url == page.url %}active{% endif %}" 
                      href="{{site.baseurl}}{{ service.url }}">{{ service.title }}
                  </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
</div>
