---
layout: default
bodyClass: page-team-list
---

<div class="intro">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 ">
                <h1>
                    {{ page.title }}
                </h1>
            </div>
            {% if page.intro_image %}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
                <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="team-content container pt-6 pb-6">
    <div class="row justify-content-start pb-1">
        <div class="col-12">
            {{ content }}
        </div>
    </div>
     <div class="row">
        {% assign promoted_teams = site.team | where: "promoted", true | sort: "weight" %}
        {% for team in promoted_teams %}
         {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        <div class="col-12 mb-2">
         {% if thecycle == 'odd' %}
            <div class="team team-summary team-summary-large" style=" float: left; direction: ltr;" >
                {% if team.image %}
                <div class="team-image" >
                    <img alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                    <div class="team-meta animate__animated animate__fadeIn" style="text-align:left;">
                        <h2 class="team-name"> {{ team.title }}</h2>
                        <div class="team-content">{{ team.content }}</div>
                    </div>
            </div>
        {% else %}
            <div class="team team-summary team-summary-large" style="float: right; direction: rtl;" >
                    {% if team.image %}
                    <div class="team-image" style="margin-left: 20px;margin-right: 0;">
                        <img alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                    </div>
                    {% endif %}
                        <div class="team-meta animate__animated animate__fadeIn"
                        style="text-align:right;padding-right: 20px;padding-left: 0;">
                            <h2 class="team-name"> {{ team.title }}</h2>
                            <div class="team-content">{{ team.content }}</div>
                        </div>
                </div>

        {% endif %}
        </div>
        {% endfor %}

    </div>



    <div class="row pt-6 pb-6">
        {% assign teams = site.team | where: "promoted", empty | sort: "weight" %}
        {% for team in teams %}
        <div class="col-12 col-md-4 mb-3">
            <div class="team team-summary">
                {% if team.image %}
                <div class="team-image">
                    <img alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta">
                    <p class="team-description">{{ team.jobtitle }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</div>