---
layout: default
bodyClass: page-team-single

---
<div class="intro">
  {% if page.intro_image %}
  <div class="">
    <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
  </div>
  {% endif %}
  <div class="container">

    <div class="row justify-content-start">
      <div class="col-12">
        <h1>
          {{ page.title }}
        </h1>
      </div>

    </div>
  </div>
</div>
<div class="one-team d-flex">
<div class="container">
<div class="team-single-one">
  <!-- /#sidebar-wrapper -->
      <div class="intro1">
        {% if page.intro_image %}
        <div class="">
          <img alt={{ content }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
        </div>
        {% endif %}
      </div>
<div class="container pb-6 pt-1">
  <div class="row justify-content-start">
    <div class="col-md-9">
      <div class="serv-image-one"></div>
      <div class="team team-single animate__animated animate__fadeIn">
        <div class="content">{{content}}</div>

      </div>
     
    </div>
  </div>
</div>
</div>

</div>
</div>
